<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>socker</title>
</head>
<body>
    <input type="text" class="socker" style="width:188px; height:33px; margin:100px auto;" >
    <div class="submit" style="width:50px; height:20px; margin:10px auto; border:1px solid #ccc; cursor:pointer;">发送</div>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script>
    var ws = new WebSocket('ws://127.0.0.1:8888');
    var time;
    ws.onopen = function() {
        alert('connection success');
    }
    $('.submit').click(function() {
        data = $('.socker').val();
        time = new Date().getTime();
        ws.send(data);
    });
    ws.onmessage = function(e) {
        alert(e.data);
        // if(e.time != time) {
        //     alert(e.news);
        // }
    }
</script>
</body>
</html>